
.step-prev {
  background-color: #4e73df;
  border-color: #4e73df;
  box-shadow: 2px 2px 3px 0px rgb(50 50 50 / 50%);
}
.step-prev:hover {
  background: #4e73df;
  border-color: #398439;
}
.step-next
{
  position: absolute;
  right: 1%;
  background-color: #4e73df;
  border-color: #4e73df;
  box-shadow: 2px 2px 3px 0px rgb(50 50 50 / 50%);
}
.step-next:hover {
  background: #4e73df;
  border-color: #398439;
}
.step-title
{
  display: inline-block;
}
.stepper-steps
{
  display: flex;
    list-style: none;
}
.step-nmbr {
  color: white;
  background: #4e73df;
  border: 1px solid #4e73df;
  text-decoration: none;
}
span {
  font-weight: bold;
}
.step-nmbr {
  display: block;
  margin: 8px auto 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  color: #4e73df;
  background: #f2f2f2;
  line-height: 25px;
  border: 1px solid #4e73df;
  position: relative;
  z-index: 2;
}
.stepper-steps
{
  margin-left:10%;
}
.top-title
{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}
.steps
{
  padding:16px;
}
.active
{
  color:#4e73df;
}
.t-dropdown 
{
   position: absolute;
   left:86%;
   text-decoration: none;
  /* margin-top: -2%; */
}

/* -------------------------------- form css--------------------------*/
.ligin-form
{
   margin-left:0%;
}
.form , .form1 , .sub-form1
{
  background-color: #fff;
  padding:10px;
  border:1px solid #858796; 
  margin-top: 4%;
}
.f1
{
  width: 121%;
}
label
{
  margin-left: 1%;
}
.f2
{
  width: 99%;
  margin-left: 1%;
}
.step-next1
{
    width: 25%;
    margin: 2%;
    margin-left: 34%;
    background-color: #4e73df;
    border-color: #4e73df;
}
.step-next1:hover
{
  background-color: #4e73df;
  border-color: #4e73df;
}

/* --------------------------------email form css--------------------------*/

ul.bar_tabs {
  overflow: visible;
  background: #F5F7FA;
  height: 25px;
  margin-top: 3%;
  padding-left: 14px;
  position: relative;
  z-index: 1;
  width:100%;
  border-bottom: 1px solid #E6E9ED;
}
ul.bar_tabs>li {
  border: 1px solid #E6E9ED;
  color: #333 !important;
  margin-top: -17px;
  margin-left: 8px;
  background: #fff;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}
ul.bar_tabs>li.active {
  border-right: 6px solid #D3D6DA;
  border-top: 0;
  margin-top: -15px;
}
ul.bar_tabs>li a
{
  color: #555555;
  font-size: 10px;
  padding: 15px;
  text-decoration: none; 
}
.form-group
{
   margin-top: 2%;
}
.form-group label
{
  font-size: 10px;
}
.form-group input , .form-group  .custom-campaign-input
{
  font-size:12px;
}
.bar_tabs
{
  margin-left: 1%;
  margin-right: 1%;
}
.store
{
  margin-top: 2%;
}
.row
{
  margin: 5px;
}

/* --------------------------------widget form css--------------------------*/

.form-group1 
{
  margin-top: 12%;
  width:624px;
}
.sub-form1
{
  margin-top:1%;
}
.w1
{
    margin-left: 1%;
}
.form-group1 label , .c-form-group1  label
{
    font-size: 10px;
}
.form-group1 .form-control 
{
    font-size:12px;
}
.c-form-group1 
{
    width: 630px;
    margin-left: 12%;
}
.c-form-group .form-control 
{
    font-size:12px;
}
.custom-switch .custom-control-label
{
    font-size:10px;
    padding: 5px;
}
.widget
{
    margin-left: 6%;
    margin-top: 2%;
    width:90%;
    border-bottom:1px solid #e8e8e8;
}
.widget p
{
    font-size:10px;
    margin-bottom:2%;
}
.widget1
{
    margin-left: 6%;
    margin-top: 2%;
    width:90%;
}
.w2
{
    margin-left:6%;
}
.w3
{
    margin-left:1%;
}
.form-group2
{
  margin-top:2%;
  width:635px;
}
.form-group2 label
{
    font-size:10px;
}
.icon
{
    display: flex;
}
.icon p
{
    font-size: 12px;
    padding: 5px;
}
.box 
{
    display:flex;
}
.box-t
{
    background-color: #aaa;
    width:15%;
    height:15%;
    border-radius: 4px;
}
.box-t h6
{
    margin: 15px;
}
.box-p
{
    font-size: 14px;
    margin-left: 25px;
}
.fas span
{
    margin-left: 28%;
}
.ratting
{
    position: absolute;
    right: 24%;
}
.r1
{
    display: flex;
    line-height: 29px;
}
.progress
{
   width: 303px;
   height: 8px;
   background: #c7c4c4;
   margin-left: 5%;
   border-radius: 3px;
}
.s1
{
    margin-top: -2%;
    margin-left: 2%;
    font-size: 14px;
}
.image .img1
{
    width: 278px;
    margin-left: -9%;
}
.image .img2
{
    width: 278px;
    margin-left: -9%;
    height:210px;
}
.image .img3
{
    width: 278px;
    margin-left: -9%;
    height: 234px;
}
.rat p
{
    font-size:12px;
    margin-left:5%;
    font-weight:bolder;
}
.rat .pt
{
    font-size:12px;
    margin-left:5%;
}
.card 
{
    margin-top:40%;
}
.c1
{
    width: 1213px;
    margin-left: -1%;
}
.rat1
{
    margin-top:8px;
}
.rat1 p
{
    font-size:12px;
    margin-left:5%;
    font-weight:bolder;
}
.rat1 .pt
{
    font-size:12px;
    margin-left:5%;
}

.btn-success
{
    background: #4e73df;
    border: 1px solid #4e73df;
}
.stars_edit_hints
{
    background: #6c8ae2;
    border: 1px solid #4e73df;
    margin-top: 1%;
    color: #fff;
}